*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* background-color: gray; */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    max-width: 400px;
    border: 1px solid black;
}

.screen{
    width: 100%;
    height: 150px;
    background-color: black;
    border-bottom: 1px solid gray;
}
.btnTab{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    margin-top: 2px;
    padding: 10px;
    max-width:100% ;
    background-color: gray;
}
.btn{
    padding: 1.1em 1.4em;
    border: none;
    color: hsl(217, 12%, 63%);
    border-radius: 30%;
    background-color: hsl(214, 11%, 24%);
    font-size: 1.2em;
    transition: all .3s ease;
    cursor: pointer;
    font-size: 20px;
}
.red{
    color: red;
}
.green{
    color: green;
}